* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: #171b4b;
  align-items: center;
  font-family: 'Arial';
  justify-content: center; }

#game {
  margin-bottom: 20px; }

.konvajs-content {
  display: block; }

#newGameButton {
  border: none;
  color: white;
  padding: 20px;
  cursor: pointer;
  font-size: 25px;
  background: #3a3d72; }
